header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #1d1d1d;

}

.css-1x7skt0 {
 
  background-color: #1D1D1D !important;
  color: rgb(255, 255, 255) !important;
}
.css-1q2h7u5 {
  color: #fff!important;
  font-family: poppins!important;
  font-size: 20px!important;
  font-weight: 500;
  line-height: 1.25;
}