.MuiStepIcon-root {
    color: rgba(255, 28, 81, 0.38) !important;
    background: rgba(255, 28, 81, 0.38) !important;
    border-radius: 50px !important;
    z-index: 1;
    position: relative;
    top: 3px;
}

.MuiStepIcon-root.Mui-active {
    color: rgba(255, 28, 81, 1) !important;
}

.MuiStepIcon-text {
    display: none;
}

.MuiStepConnector-horizontal {
    flex: 0 0 !important;
}

.MuiStepIcon-root.Mui-completed {
    color: #FF1C51 !important;
    background: #FF1C51 !important;
    border-radius: 50px !important;
}

.MuiStepper-root {
    justify-content: center  !important;
    column-gap: 50px  !important;
}

.MuiStepLabel-iconContainer:before {
    content: '';
    width: 30px;
    height: 30px;
    background: #707070;
    position: relative;
    left: 27px;
    top: 0px;
    border-radius: 50px; 
}

::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
}

.MuiSwitch-root {
    border: 1px solid #FF1C51 !important;
    border-radius: 100px !important;
    padding:5px 20px !important;
    height: 26px !important;
}


.MuiSwitch-thumb {
    background:'pink !important';
}

.Mui-checked {
    color:'yellow !important';
}

.MuiSwitch-track {
    color:'yellow !important';
    
}

/* .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #FF1C51 !important;
    background: #FF1C51 !important;
    border-radius: 50px !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    display: block;
    -webkit-transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(255, 28, 81, 0.38) !important;
    background: rgba(255, 28, 81, 0.38) !important;
    border-radius: 50px !important;
}

.css-17m3hlr {
    position: relative !important;
    top: -113px !important;
    border: 1px solid #FF1C51 !important;
}

.MuiStepLabel-iconContainer > svg > text {
    display: none;
}

.css-1cp26vg-MuiStepper-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    z-index: 1;
    justify-content: center  !important;
    column-gap: 50px  !important;
}

.css-j5w0w9-MuiStepConnector-root {
    display: none;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: rgba(255, 28, 81, 1) !important;
}

.MuiStepConnector-horizontal {
    background-color: green !important;
}

span.MuiStepLabel-iconContainer.css-vnkopk-MuiStepLabel-iconContainer:before {
    content: '';
    width: 30px;
    height: 30px;
    background: #707070;
    position: relative;
    left: 27px;
    top: 0px;
    border-radius: 50px; 
}


span.MuiStepLabel-iconContainer.css-vnkopk-MuiStepLabel-iconContainer svg {
    position: relative;
    top: 3px;
} */