



/* .css-u30lmt {
    
    display: flex !important;
} */

/* .css-x4hq56 {
   
    margin: 0 0 0 72px !important;
   
    color: rgba(0, 0, 0, 0.54);
    transform: rotate(
0deg
);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: 'Poppins';
    color: #ffff;
    text-transform: capitalize;
} */
.css-46bh2p-MuiCardContent-root {
    padding: 0px !important;
}
h1.makeStyles-fh1-41 {
    font-size: 20px;
    font-weight: 600;
}